<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand p-3" href="#">Secure Portal</a>
<app-language-switcher></app-language-switcher>
<button
    class="navbar-toggler me-3"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="true"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item me-4 p-3">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/home"
          aria-current="page"
        >
          {{ "HOME" | translate }}
        </a>
      </li>
      <li class="nav-item me-4 p-3">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">
          {{ "LOGIN" | translate }}</a
        >
      </li>
      <li class="nav-item me-4 p-3">
        <a class="nav-link" routerLinkActive="active" routerLink="/account">
          {{ "ACCOUNT" | translate }}</a
        >
      </li>
    </ul>
  </div>
</nav>

