<nav class="navbar navbar-expand-md navbar-light bg-light p-3">
  <a class="navbar-brand p-2" routerLink="/home">Secure Portal</a>

  <button
    class="navbar-toggler me-2"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav" #navbarNav>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item p-2">
        <a
          class="nav-link p-2"
          routerLinkActive="active"
          routerLink="/home"
          aria-current="page"
          (click)="closeNavbar()"
        >
          {{ "HOME" | translate }}
        </a>
      </li>
      <li class="nav-item p-2">
        <a
          class="nav-link p-2"
          routerLinkActive="active"
          routerLink="/login"
          (click)="closeNavbar()"
        >
          {{ "LOGIN" | translate }}</a
        >
      </li>
      <li class="nav-item p-2">
        <a
          class="nav-link p-2"
          routerLinkActive="active"
          routerLink="/account"
          (click)="closeNavbar()"
        >
          {{ "ACCOUNT" | translate }}</a
        >
      </li>
    </ul>
    <app-language-switcher></app-language-switcher>
  </div>
</nav>
