@import "../../styles/mixins.scss";

.footer {
  background-color: #f8f9fa;
  width: 100%;
}

.container-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-item {
  padding: 8px;
}

.link {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(95, 93, 93);
}

.link:hover {
  color: black;
}

.link.active {
  background-color: #e9eaea;
  border-radius: 5px;
  color: black;
}

@include tablet {
  .footer-links {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
