<footer class="footer">
  <div class="container-links">
    <ul class="footer-links">
      <li>
        <a class="link" routerLinkActive="active" routerLink="/home">
          {{ "HOME" | translate }}</a
        >
      </li>
      <li>
        <a class="link" routerLinkActive="active" routerLink="/login">{{
          "LOGIN" | translate
        }}</a>
      </li>
      <li>
        <a class="link" routerLinkActive="active" routerLink="/account">{{
          "ACCOUNT" | translate
        }}</a>
      </li>
    </ul>
   <app-language-switcher></app-language-switcher>
  </div>
</footer>
