.language-switcher {
  padding: 8px;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  width: 60px;
  height: 20px;
  background-color: #c6c6c6;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;

  &:checked {
    background-color: rgb(74, 200, 231);
  }
}

.form-check-label {
  margin-left: 0.5rem;
}
