<div class="home-container">
  <h1>Welcome to Our Website</h1>

  <div>
    <section class="intro">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
        odio vitae vestibulum. Cras vel nisi non nisi fringilla suscipit. Sed
        vel vestibulum lorem. Proin feugiat risus quis lacus ultricies, eu
        egestas nunc viverra. Nam ut risus vel turpis convallis tincidunt.
      </p>
    </section>
    <section class="features">
      <h2>Features</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Vivamus lacinia odio vitae vestibulum</li>
        <li>Cras vel nisi non nisi fringilla suscipit</li>
      </ul>
    </section>
  </div>
</div>
